h1 {
  font-size: 25px;
  text-align: center;
  color: #3e444c
}

p {
  font-family: helvetica;
  font-size: 18px;
  color: black;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 215px 16px 215px;
  text-decoration: none;
}

li a:hover {
  background: url(https://cdn.pixabay.com/photo/2016/03/31/19/13/atom-1294810__340.png) 50% 50% no-repeat;
}

.mainimg {
  display: block;
  margin: auto;
}

.chemimg {
  display: none;
}

.phyimg {
  display: none;
}

.mathimg {
  display: none;
}